{% extends 'layout.html' %}
                     {% block content %}
                            <body>
                            <h3> List of Gates</h3>
                            <table border="1" class="dataframe Attendance">  
                                <tr><td>ID</td><td>Location</td><td>SecretNumber</td><td>ActivationsNumber</td></tr>
<tr><td>1</td><td>SouthTower</td><td>964248</td><td>0</td></tr>
<tr><td>2</td><td>SouthTower</td><td>1293171</td><td>1</td></tr>
<tr><td>3</td><td>NorthTower</td><td>883128</td><td>1</td></tr>
<tr><td>5</td><td>SouthTower</td><td>461099</td><td>0</td></tr>
<tr><td>6</td><td>NorthTower</td><td>884894</td><td>1</td></tr>
<tr><td>10</td><td>Middletwoer</td><td>158231</td><td>2</td></tr>
<tr><td>12</td><td>NorthTower</td><td>1843668</td><td>0</td></tr>
<tr><td>14</td><td>NorthTower</td><td>807003</td><td>0</td></tr>
<tr><td>16</td><td>NorthTower</td><td>1906940</td><td>0</td></tr>
<tr><td>21</td><td>NorthTower</td><td>59065</td><td>0</td></tr>
<tr><td>25</td><td>NorthTower</td><td>212765</td><td>0</td></tr>  
                            </table>
                            </body>
                            {% endblock %}