<!-- <h3>Index</h3>
    <div>
      <ul>
        <a href="/login"> 
          <button type="button">User/Admin Login </button> 
          </a>
       <a href="/gate"><button type="button"> Gate Login </button>  </a>
      </ul>
    </div> -->

<!DOCTYPE html>
<html>
  <head>
    <h3>Index</h3>
  </head>
  <body>
    <button onclick="window.location.href='/login';">
      User/Admin Login
    </button>
    <button onclick="window.location.href='/gate';">
      Gate Login
    </button>
  </body>
</html>
